@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Hind&display=swap");

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");

body {
	font-size: 18px;
	background-color: #ED751C;
	color: white;
	margin: 0;
	padding: 0;
}
h1 {
	font-weight: bold;
	font-size: 35px;
	font-family: "Hind";
}

h2 {
	font-weight: bold;
	font-size: 22px;
	font-family: "Hind";
}
h3 {
	color: white;
	font-family: "Hind";
}

a {
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #E55A0A;
}

#typeform {
	margin: 0 10px;
	margin-bottom: 10px;
}

p {
	font-family: "Hind";
}